@media (min-width: 1900px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
	.home-banner-inner-right{
		right: 0px;
	}
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
    .hdr-search-div .dropdown-menu {
        min-width: auto;
        width: 100%;
    }
    .hdr-rightbar {
        float: unset;
        margin-top: 21px !important;
    }
    .hdr-rightbar li {
        margin-left: 0;
        margin-bottom: 8px;
    }
    .hdr-search-div a.hdr-search {
        display: block;
        text-align: center;
    }
    .hdr-rightbar > li > a.nav-link {
        display: block;
    }
	.table_header {
	    font-size: 14px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.table_row > .table_small > .table_cell {
	    padding-left: 10px;
    	padding-right: 10px;
	}
	.home-banner-inner-right {
	    right: 0px;
	    width: 74%;
	    top:-30px;
	}
	.reg-img {
		display: none;
	}
	.right-block {
		padding: 15px;
	}
	.rgt-srch-list{
		margin-top: 25px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (max-width: 767px) {
	.btn-main.service-detail-btn {
	    margin-top: 5px;
	    padding: 5px 10px;
	    font-size: 13px;
	}
	.booked-service-table {
		width: 100%;
	}
	.booked-service-table td {
	    border: 1px solid #d9dadc;
	    padding: 11px;
	}
	.service-detail-photo {
		margin-bottom: 10px;
	}
	.item-service .slider-content {
		padding: 10px;
	}
	/*start table div*/
	.table {
		border: unset;
	}
	.table_row {
    	display: table;
	    width: 100%;
	    border-collapse: separate;
	    margin-bottom: 20px;
	    text-align: center;
	    box-shadow: 0px 0px 10.89px 0.11px rgba(201, 201, 201, 0.3);
	    border: 1px solid #eeeeee;
	}
    .table_small {
        display: table-row;
    }
    .table_row > .table_small:first-child > .table_cell:last-child {
        border-left: none;
    }
    .table_row > .table_small:last-child > .table_cell:first-child {
        border-right: none;
    }
    .table_row > .table_small > .table_cell:nth-child(odd) {
		color: #ffffff;
	}
	.table {
        display: block;
        overflow: hidden;
    }
    .table_row:nth-child(2n+3) {
        background: none;
    }
    .theader {
        display: none;
    }
    .table_row > .table_small > .table_cell:nth-child(odd) {
        display: table-cell;
	    width: 34%;
	    text-align: left;
    }
    .table_row > .table_small > .table_cell {
    	text-align: left;
        border-top: 1px solid #eeeeee;
        padding: 10px;
    	font-size: 13px;

    }
    .table_row .table_small:first-child .table_cell {
    	border: unset;
    } 
    .table_cell {
        display: table-cell;
        width: 50%;
    }
    /*end table div*/
	.owl-carousel.nearby-provider-slider .owl-nav button.owl-next {
	    right: -10px;
	}
	.owl-carousel.nearby-provider-slider .owl-nav button.owl-prev {
	    left: -10px;
	}
	.btn-main {
	    padding: 9px 21px;
	    font-size: 14px;
	    min-width: 90px;
	    text-transform: capitalize;
	}
	.profile-box .btn-main{
		margin-bottom: 15px;
	}
	.profile-service-type{
		padding-right: 0px;
	}
	.service-btn-div .btn-main {
	    height: auto;
	}
	.service-btn-div {
		height: auto;
	}
	.faq-main, .acc-main, .reg-main, .box-shadow-main {
		padding: 0 15px 15px;
	}
	.profile-main .profile-main-left {
		position: static;
    	text-align: left;
	}
	.profile-main figure {
		width: 100px;
		height: 100px;
		margin-top: 11px;
	}
	.profile-main-right {
	    padding-left: 0;
	}
	.profile-main-topRight {
	    right: 0px;
	    top: 0px;
	    position: relative;
	    float: left;
	    width: 100%;
	    margin: 15px 0;

	}
	.breadcrumbs-main h1 {
	    font-size: 27px;
	}
	.faq-main-content button.btn.btn-link {
		font-size: 14px;
	}
	footer:after {
	    background-size: cover;
	    background-repeat: no-repeat;
	}
	footer,
	.social-links,
	.site-logo {
		text-align: center;
	}
	.footer-links {
	    margin-bottom: 10px;
	}
	.social-links {
		margin-top: 10px;
	}
	.footer-block {
	    padding: 20px 0 10px;
	}
	.vehicle-img-slider{
		margin-top: 15px;
	}
	.service-tab .service-tab-link{
		font-size: 14px;
	}
	table.vehicle-detail-tb tr td{
		float: left;
		width: 100%;
		border-left: 0;
	    border-right: 0;
	    border-top: 0;
	    padding: 10px 15px;
	}
	table.vehicle-detail-tb tr:nth-child(2) td:last-child{
		border-bottom: none;
	}
	.row.rgt-srch-list .no-data-block{
		width: calc(100% - 30px);
		margin: 0 15px;
	}
	.review-li:first-child{
		padding-top: 25px;
	}
	body.modal-open {
    padding-right: 0px !important;
}
	.main-content{
		padding: 30px 0;
	}
}
@media only screen and (min-width: 650px) {
	/*.services-list .card:nth-child(4n+0) {
	    border-right: 0;
	}
	.services-list .card:nth-last-child(-n+4) {
	    border-bottom: 0;
	}*/

}
@media only screen and (max-width: 650px) {
    .services-list .card {
	    width: 50%;
	}
/*	.services-list .card:nth-child(2n+0) {
	    border-right: 0;
	}
	.services-list .card:nth-last-child(-n+2) {
	    border-bottom: 0;
	}*/
	.message-main .no-results.text-center{
		margin-top: 30px;
	}
}
@media only screen and (max-width: 575px) {
    .navbar-brand {
        max-width: 230px;
    }
    #calendar .fc-center h2{
    	font-size: 15px;	
    }
    .service-detail-page .service-title a{
    	font-size: 15px;
    	width: 100%; 
	    text-align: center;
	    margin-bottom: 10px;
	    margin-top: 10px;
    }
    .img-preview-list{
    	height: 120px;
    }
    .upload-img-listing .upload-img-lbl{
    	height: 120px;
    }
    .home-banner-inner-left {
	    width: 100%;
	    float: left;
	    z-index: 1;
	    position: relative;
	    padding: 30px 0;
	    text-align: center;
	}
    .home-banner{
    	padding: 0px;
    }
    .home-banner-inner-right{
    	right: 0px;
	    width: 100%;
	    top: 0;
	    position: relative;
	    float: left;
}
    }

}
@media only screen and (max-width: 480px) {
.profile-availability{
	font-size: 13px;
}
.fc table{
	font-size: 13px !important;
}
.fc th span{
	font-size: 12px ;
}
.upload-img-inner{
	font-size:13px;
}
.g-recaptcha {
    transform: scale(0.84);
    -webkit-transform: scale(0.84);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
}
@media only screen and (max-width: 340px) {
    
}